<table id="index" class="table">
  <thead>
    <tr>
      <th>host</th>
      <th>service</th>
      <th>state</th>
      <th>time</th>
      <th>description</th>
      <th>tags</th>
      <th>metric</th>
      <th>ttl</th>
  </tr>
  </thead>
</table>
